#### patsy 패키지 소개

In [1]:
from patsy import *

In [2]:
df = pd.DataFrame(demo_data('x1', 'x2', 'y'))
df

         x1        x2         y
0  1.764052 -0.977278  0.144044
1  0.400157  0.950088  1.454274
2  0.978738 -0.151357  0.761038
3  2.240893 -0.103219  0.121675
4  1.867558  0.410599  0.443863

In [3]:
dmatrix("x1", df)

DesignMatrix with shape (5, 2)
  Intercept       x1
          1  1.76405
          1  0.40016
          1  0.97874
          1  2.24089
          1  1.86756
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)

#### R-style formula 연산자

In [5]:
dmatrix("x1 - 1", df)

DesignMatrix with shape (5, 1)
       x1
  1.76405
  0.40016
  0.97874
  2.24089
  1.86756
  Terms:
    'x1' (column 0)

In [6]:
dmatrix("x1 + 0", df)

DesignMatrix with shape (5, 1)
       x1
  1.76405
  0.40016
  0.97874
  2.24089
  1.86756
  Terms:
    'x1' (column 0)

In [7]:
dmatrix("x1 + x2", df)

DesignMatrix with shape (5, 3)
  Intercept       x1        x2
          1  1.76405  -0.97728
          1  0.40016   0.95009
          1  0.97874  -0.15136
          1  2.24089  -0.10322
          1  1.86756   0.41060
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'x2' (column 2)

In [8]:
dmatrix("x1 + x2 - 1", df)

DesignMatrix with shape (5, 2)
       x1        x2
  1.76405  -0.97728
  0.40016   0.95009
  0.97874  -0.15136
  2.24089  -0.10322
  1.86756   0.41060
  Terms:
    'x1' (column 0)
    'x2' (column 1)

In [9]:
dmatrix("x1 + x2 + x1:x2", df)

DesignMatrix with shape (5, 4)
  Intercept       x1        x2     x1:x2
          1  1.76405  -0.97728  -1.72397
          1  0.40016   0.95009   0.38018
          1  0.97874  -0.15136  -0.14814
          1  2.24089  -0.10322  -0.23130
          1  1.86756   0.41060   0.76682
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'x2' (column 2)
    'x1:x2' (column 3)

In [10]:
dmatrix("x1 * x2", df)

DesignMatrix with shape (5, 4)
  Intercept       x1        x2     x1:x2
          1  1.76405  -0.97728  -1.72397
          1  0.40016   0.95009   0.38018
          1  0.97874  -0.15136  -0.14814
          1  2.24089  -0.10322  -0.23130
          1  1.86756   0.41060   0.76682
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'x2' (column 2)
    'x1:x2' (column 3)

In [11]:
dmatrix("x1 / x2", df)

DesignMatrix with shape (5, 3)
  Intercept       x1     x1:x2
          1  1.76405  -1.72397
          1  0.40016   0.38018
          1  0.97874  -0.14814
          1  2.24089  -0.23130
          1  1.86756   0.76682
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'x1:x2' (column 2)

#### 수학 변환

In [12]:
dmatrix("x1 + np.log(np.abs(x2))", df)

DesignMatrix with shape (5, 3)
  Intercept       x1  np.log(np.abs(x2))
          1  1.76405            -0.02298
          1  0.40016            -0.05120
          1  0.97874            -1.88811
          1  2.24089            -2.27090
          1  1.86756            -0.89014
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'np.log(np.abs(x2))' (column 2)

In [13]:
def doubleit(x):
    return 2 * x

dmatrix("doubleit(x1)", df)

DesignMatrix with shape (5, 2)
  Intercept  doubleit(x1)
          1       3.52810
          1       0.80031
          1       1.95748
          1       4.48179
          1       3.73512
  Terms:
    'Intercept' (column 0)
    'doubleit(x1)' (column 1)

#### 상태 보존 변환

In [14]:
dm = dmatrix("center(x1)", df)
dm

DesignMatrix with shape (5, 2)
  Intercept  center(x1)
          1     0.31377
          1    -1.05012
          1    -0.47154
          1     0.79061
          1     0.41728
  Terms:
    'Intercept' (column 0)
    'center(x1)' (column 1)

In [15]:
df.x1 - np.mean(df.x1)

0    0.313773
1   -1.050123
2   -0.471542
3    0.790613
4    0.417278
Name: x1, dtype: float64

In [16]:
type(dm.design_info)

patsy.design_info.DesignInfo

In [17]:
df_new = df.copy()
df_new['x1'] = df_new['x1'] * 10
df_new

          x1        x2         y
0  17.640523 -0.977278  0.144044
1   4.001572  0.950088  1.454274
2   9.787380 -0.151357  0.761038
3  22.408932 -0.103219  0.121675
4  18.675580  0.410599  0.443863

In [19]:
build_design_matrices([dm.design_info], df_new)

[DesignMatrix with shape (5, 2)
   Intercept  center(x1)
           1    16.19024
           1     2.55129
           1     8.33710
           1    20.95865
           1    17.22530
   Terms:
     'Intercept' (column 0)
     'center(x1)' (column 1)]

In [20]:
df_new.x1 - np.mean(df.x1)

0    16.190244
1     2.551292
2     8.337100
3    20.958652
4    17.225300
Name: x1, dtype: float64

In [21]:
dmatrix("center(x1)", df_new)

DesignMatrix with shape (5, 2)
  Intercept  center(x1)
          1     3.13773
          1   -10.50123
          1    -4.71542
          1     7.90613
          1     4.17278
  Terms:
    'Intercept' (column 0)
    'center(x1)' (column 1)

In [22]:
df_new.x1 - np.mean(df_new.x1)

0     3.137726
1   -10.501225
2    -4.715418
3     7.906135
4     4.172782
Name: x1, dtype: float64

#### 변수 보호

In [23]:
dmatrix("I(x1 + x2)", df)

DesignMatrix with shape (5, 2)
  Intercept  I(x1 + x2)
          1     0.78677
          1     1.35025
          1     0.82738
          1     2.13767
          1     2.27816
  Terms:
    'Intercept' (column 0)
    'I(x1 + x2)' (column 1)

In [24]:
dmatrix("x1 + x2", df)

DesignMatrix with shape (5, 3)
  Intercept       x1        x2
          1  1.76405  -0.97728
          1  0.40016   0.95009
          1  0.97874  -0.15136
          1  2.24089  -0.10322
          1  1.86756   0.41060
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'x2' (column 2)

#### 다항회귀

In [25]:
dmatrix("x1 + I(x1*x1) + I(x1**3) + I(x1**4)", df)

DesignMatrix with shape (5, 5)
  Intercept       x1  I(x1 * x1)  I(x1 ** 3)  I(x1 ** 4)
          1  1.76405     3.11188     5.48952     9.68380
          1  0.40016     0.16013     0.06408     0.02564
          1  0.97874     0.95793     0.93756     0.91763
          1  2.24089     5.02160    11.25287    25.21649
          1  1.86756     3.48777     6.51362    12.16456
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'I(x1 * x1)' (column 2)
    'I(x1 ** 3)' (column 3)
    'I(x1 ** 4)' (column 4)