In [1]:
import zigbang2 as zb

In [2]:
items_df = zb.crawl_oneroom("동자동")
items_df.tail(2)

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,공급면적,전용면적,...,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
20,None,23487006,https://ic.zigbang.com/ic/items/23487006/1.jpg,월세,월세,3000,65,36.36,"{'m2': 36.36, 'p': '11'}","{'m2': 33.05, 'p': '10'}",...,False,True,빌라,[],서울시 용산구 동자동,None,None,5,2020-08-18T10:08:11+09:00,False
21,None,23720974,https://ic.zigbang.com/ic/items/23720974/1.jpg,전세,전세,15000,0,59.50,"{'m2': 59.5, 'p': '18'}","{'m2': 52.89, 'p': '16'}",...,False,True,빌라,[추천],서울시 용산구 동자동,None,None,0,2020-09-01T11:22:42+09:00,False

### 구글 스프레드 시트에 저장
- OAuth 개념    #open_authentication
- OAuth 인증 파일 생성
    - https://console.developers.google.com
    - 프로젝트 생성
    - 라이브러리 탭 선택 : Google Drive API, Google Sheets API 사용설정
    - oauth 동의 화면
        - 어플리케이션 이름 설정
        - google api 범위 추가 : `.../auth/drive`, `.../auth/spreadsheets`
        - 저장
    - 사용자 인증 정보
            - OAuth 클라이언트 ID 선택
    - pygsheets 설치
            - conda install -c marta-sd pygsheets
- 스프레드 시트에 크롤링한 데이터 저장 및 로드

In [5]:
import pygsheets

In [6]:
# access token 얻기
gc = pygsheets.authorize(client_secret="client_secret.json", no_cache=True)
gc

In [7]:
# 스프레드 시트 파일 열기
s_file = gc.open("zigbang")

In [ ]:
# 붓꽃 데이터 로드
iris_df = sns.load_dataset("iris")
iris_df.tail(1)

In [ ]:
# iris 시트 만들기
iris_sheet = s_file.add_worksheet("iris")

In [ ]:
# iris 시트에 데이터 프레임 저장
iris_sheet.set_dataframe(iris_df, "A1")

In [ ]:
# 시트 삭제
s_file.del_worksheet(s_file[0])

In [ ]:
# 직방 데이터를 크롤링 해서 저장

In [8]:
addrs = ["연남동", "망원동", "합정동", "성수동", "개포동"]
for addr in addrs:
    print(addr)
    df = zb.crawl_oneroom(addr)
    sheet = s_file.add_worksheet(addr)
    sheet.set_dataframe(df, "A1")

연남동
망원동
합정동
성수동
개포동

In [9]:
# 데이터 가져오기
sheet = s_file.worksheet_by_title("개포동")
load_df = sheet.get_as_df()
load_df.tail(2)

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,공급면적,전용면적,...,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
60,NaN,23775544,https://ic.zigbang.com/ic/items/23775544/1.jpg,전세,전세,21000,0,44.52,"{'m2': 44.52, 'p': '13.5'}","{'m2': 40.12, 'p': '12.1'}",...,FALSE,TRUE,빌라,['추천'],서울시 강남구 개포동,NaN,NaN,0.0,2020-09-03T16:44:19+09:00,TRUE
61,NaN,23775775,https://ic.zigbang.com/ic/items/23775775/1.jpg,전세,전세,35000,0,82.36,"{'m2': 82.36, 'p': '24.9'}","{'m2': 78.56, 'p': '23.8'}",...,FALSE,TRUE,빌라,['추천'],서울시 강남구 개포동,NaN,NaN,0.0,2020-09-03T16:51:23+09:00,TRUE